<h2>{{'adminUserRoles.editUserRoles' | message}}</h2>
<div class="overtab-header">
    <h3>{{'adminUserRoles.user' | message}}: {{vm.user.username}}</h3>
    <button type="submit" ui-sref=".SUPERVISION.importRoles">{{'adminUserRoles.importRoles' | message}}</button>
</div>
<ng-include src="'admin-user-roles/user-role-tabs.html'"></ng-include>
<div ui-view=""></div>
<div class="openlmis-toolbar">
    <input type="button" ng-click="vm.saveUserRoles()" class="primary" value="{{'adminUserRoles.saveUserRoles' | message}}"/>
    <!-- MALAWISUP-3888 Add checkboxes and column filters under roles when removing users roles: Starts here-->
    <input type="button" class="danger" value="{{'adminUserRoles.deleteSelectedRoles' | message}}" ng-if="vm.getSelected().length" ng-click="vm.saveUserRoles()"/>
    <!-- MALAWISUP-3888: Ends here -->
    <input type="button" ng-click="vm.goToUserList()" value="{{'adminUserRoles.cancel' | message}}">
</div>